<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication Denied</title>
    <link rel="icon" type="image/png" href="/images/download.png">
    <link rel="stylesheet" href="output.css">
</head>
<body class="bg-gray-100 h-screen flex flex-col justify-center items-center">
   
    <div class="max-w-lg w-full bg-white shadow-md rounded-md p-8">
        <h2 class="text-3xl font-bold text-gray-800 mb-4">Authentication Denied</h2>
        <p class="text-gray-600 mb-6">Sorry, you don't have permission to access this page. Please make sure you are logged in and have the necessary privileges.</p>
        <a href="home" class="text-indigo-600 hover:text-indigo-800 font-medium">Go back to Home</a>
    </div>
</body>
</html>
